<footer class="fullwidth">

    <section id="footer_sitemap" class="container">
        <ul>
            <li>Direct naar...</li>
            <li><a href=""><i class="la la-angle-right"></i>NS Flex</a></li>
            <li><a href=""><i class="la la-angle-right"></i>Reisinformatie</a></li>
            <li><a href=""><i class="la la-angle-right"></i>NS Zakelijk</a></li>
            <li><a href=""><i class="la la-angle-right"></i>Klantenservice</a></li>
        </ul>
        <ul>
            <li>Onze producten</li>
            <li><a href=""><i class="la la-angle-right"></i>Kaartjes & Toeslagen</a></li>
            <li><a href=""><i class="la la-angle-right"></i>Abonnementen</a></li>
            <li><a href=""><i class="la la-angle-right"></i>Deur tot deur</a></li>
            <li><a href=""><i class="la la-angle-right"></i>Dagje uit</a></li>
            <li><a href=""><i class="la la-angle-right"></i>Internationale treinkaartjes</a></li>
        </ul>
        <ul>
            <li>Meer NS</li>
            <li><a href=""><i class="la la-angle-right"></i>Over NS</a></li>
            <li><a href=""><i class="la la-angle-right"></i>Werken bij NS</a></li>
            <li><a href=""><i class="la la-angle-right"></i>Mobiliteitsadvies</a></li>
            <li><a href=""><i class="la la-angle-right"></i>Nieuws</a></li>
            <li><a href=""><i class="la la-angle-right"></i>Prestaties</a></li>
        </ul>
        <ul>
            <li>Sociale media</li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Twitter</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Youtube</a></li>
            <li><a href="">LinkedIn</a></li>
        </ul>
    </section>

    <section id="footer_menu" class="container">
        <ul>
            <li><a href=""><i class="la la-angle-right"></i>Disclaimer</a></li>
            <li><a href=""><i class="la la-angle-right"></i>Privacy</a></li>
            <li><a href=""><i class="la la-angle-right"></i>Cookies</a></li>
            <li><a href=""><i class="la la-angle-right"></i>Bedrijfsinformatie</a></li>
            <li><a href=""><i class="la la-angle-right"></i>Voorwaarden en folders</a></li>
        </ul>

        <a href=""><img src="images/nslogo.svg" alt="Ga naar de homepagina"></a>
    </section>

    <!--Sitemap-->
    <!--Randinformatie-->

</footer>






