<header class="header">
	<div class="header_content container">
		<div class="header_content-left">
			<li class="ns_logo"><a href="components.html"><img src="images/nslogo.svg" alt="Ga naar de homepagina"></a></li>


			<ul id="menu_control">
				<li class="menu_closed"><i class="las la-bars"></i>Menu</li>
				<li class="menu_open"><i class="las la-times"></i>Close</li>

				<section class="navigation" id="tabs">
					<div class="header_container-closed">
						<nav id="main_menu">
							<ul class="tabs">
								<li><a href="#sub_menu-reisinformatie" data-tab="sub_menu-reisinformatie" class="current"><i class="la la-clock"></i>Reisinformatie</a></li>
								<li><a href="#sub_menu-kaartjes" data-tab="sub_menu-kaartjes"><i class="la la-credit-card"></i>Kaartjes & toeslagen</a></li>
								<li><a href="#sub_menu-abonnementen" data-tab="sub_menu-abonnementen"><i class="la la-address-card"></i>Abonnementen</a></li>
								<li><a href="#sub_menu-deurtotdeur" data-tab="sub_menu-deurtotdeur"><i class="la la-biking"></i>Deur tot deur</a></li>
								<li><a href="#sub_menu-dagjeuit" data-tab="sub_menu-dagjeuit"><i class="la la-hippo"></i>Dagje uit</a></li>
								<li><a href="#sub_menu-nszakelijk" data-tab="sub_menu-nszakelijk"><i class="la la-briefcase"></i>NS Zakelijk</a></li>
								<li><a href="#sub_menu-nsinternational" data-tab="sub_menu-nsinternational"><i class="la la-map-marked"></i>NS International</a></li>
								<li><a href="#sub_menu-Klantenservice" data-tab="sub_menu-Klantenservice"><i class="la la-info-circle"></i>Klantenservice</a></li>
								<li><a href="#sub_menu-MeerNS" data-tab="sub_menu-MeerNS"><i class="la la-chevron-circle-right"></i>Meer NS</a></li>
							</ul>
						</nav>



						<nav id="sub_menu-reisinformatie" class="sub_menu current">
							<div id="sub_menu-heading">
								<h4>Reisinformatie</h4><a href="#"><i class="la la-angle-right"></i>Alles over Reisinformatie</a>
							</div>
							<ul>
								<span class="sub_menu-titel"><a href="#">Actueel</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Reisplanner</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Situatie op het spoor</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Werkzaamheden</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>NS-App</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Reizen met een OV-chipkaart</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>In- en uitchecken</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Saldo laden</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Samenreiskorting</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Online kaartje kopen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Fiets in de trein</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Voorzieningen</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Voorzieningen op het station</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Voorzieningen in de trein</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Bagage</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Stationsinformatie</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Bijzondere trajecten</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Intercity direct</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Nachttreinen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>R-net</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>
							<ul class="sub_menu-list">
								<li class="sub_menu-item"><a href="#"><i class="la la-angle-right"></i>Reizen met een functiebeperking</a></li>
								<li class="sub_menu-item"><a href="#"><i class="la la-angle-right"></i>Service verbeteren</a></li>
								<li class="sub_menu-item"><a href="#"><i class="la la-angle-right"></i>Stationsvernieuwing</a></li>
								<li class="sub_menu-item"><a href="#"><i class="la la-angle-right"></i>Zonder reizen door de poortjes</a></li>
								<li class="sub_menu-item"><a href="#"><i class="la la-angle-right"></i>Spoorboekje downloaden</a></li>
							</ul>
						</nav>
						<nav id="sub_menu-kaartjes" class="sub_menu">
							<div id="sub_menu-heading">
								<h4>Kaartjes & Toeslagen</h4><a href="#"><i class="la la-angle-right"></i>Alles over Kaartjes en toeslagen</a>
							</div>
							<ul>
								<span class="sub_menu-titel"><a href="#">Meest gekocht</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Dagretour</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Enkele reis</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Railrunner</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Groepsticket</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Toeslagen</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Toeslagen Intercity direct</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Toeslag ICE</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Van klasse wisselen</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Onbeperkt reizen</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>NS Dagkaart</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Fietskaart Dal</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Dagkaart hond</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Amsterdam Travel Ticket</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Amsterdam Region Travel Ticket</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Holland Travel Ticket</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Overige kaartjes</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Euregio-ticket</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Samenreisticket Dagretour</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Samenreisticket Enkele reis</a></li>
							</ul>
							<ul class="sub_menu-list">
								<li class="sub_menu-item"><a href="#"><i class="la la-angle-right"></i>Couponcode verzilveren</a></li>
								<li class="sub_menu-item"><a href="#"><i class="la la-angle-right"></i>Grote aantallen treinkaartjes</a></li>
							</ul>
						</nav>
						<nav id="sub_menu-abonnementen" class="sub_menu">
							<div id="sub_menu-heading">
								<h4>Abonnementen</h4><a href="#"><i class="la la-angle-right"></i>Alles over abonnementen</a>
							</div>
							<ul>
								<span class="sub_menu-titel"><a href="#">Ik wil...</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Direct bestellen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alle abonnementen bekijken</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Mijn abonnement wijzigen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Informatie over abonnementen</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Direct naar...</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Vragen over mijn factuur</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Veelgestelde vragen</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Speciale abonnementen</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Kids Vrij</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Voordelig reizen na Kids Vrij</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Ex-studenten</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Zakelijke abonnementen</a></li>
							</ul>
						</nav>
						<nav id="sub_menu-deurtotdeur" class="sub_menu">
							<div id="sub_menu-heading">
								<h4>Deur tot deur</h4><a href="#"><i class="la la-angle-right"></i>Alles over Reisinformatie</a>
							</div>
							<ul>
								<span class="sub_menu-titel"><a href="#">Direct naar</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>OV-fiets</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Fietsenstallingen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>NS Zonetaxi</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Parkeer + Reis (Q-Park)</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Reizen met bus, tram en metro</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Greenwheels</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Bekijk ook</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>OV-Fiets huurlocaties</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Beschikbaarheid OV-Fiets checken</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Fietsvoorzieningen per station</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>OInloggen op mijn Deur tot deur</a></li>
							</ul>

							<ul class="sub_menu-list">
								<li class="sub_menu-item"><a href="#"><i class="la la-angle-right"></i>Zakelijke Deur tot deur diensten</a></li>
							</ul>
						</nav>
						<nav id="sub_menu-dagjeuit" class="sub_menu">
							<div id="sub_menu-heading">
								<h4>Dagje uit</h4><a href="#"><i class="la la-angle-right"></i>Alles over Dagje uit</a>
							</div>
							<ul>
								<span class="sub_menu-titel"><a href="#">Wandelen</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>NS-Wandeling Utrechtse Heuvelrug</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>NS-Wandeling De Vuursche</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Internationale wandelingen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Aanbiedingen in de spoordeelwinkel</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Trein + Hotel</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Trein + Attracties</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Trein + Stedentrips</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">NS Favourites</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Amsterdam</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Rotterdam</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Utrecht</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Voordelig naar evenementen</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Goedkope treinkaartjes</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>
						</nav>
						<nav id="sub_menu-nszakelijk" class="sub_menu">
							<div id="sub_menu-heading">
									<h4>NS Zakelijk</h4><a href="#"><i class="la la-angle-right"></i>Alles over NS Zakelijk</a>
							</div>
							<ul>
								<span class="sub_menu-titel"><a href="#">NS-Business Card</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Over de NS-Business Card</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Zakelijke abonnementen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Direct bestellen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Klantenervaring</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Veelgestelde vragen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Uw Situatie</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>ZZP (1 - 5)</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>MKB (6 - 250)</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Corporate (250+)</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Mobiliteitsadvies</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Mijn NS Zakelijk</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Inloggen op Mijn NS Zakelijk</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Mijn NS Zakelijk voor kaarthouders</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Mijn NS Zakelijk voor contactpersonen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Deur-tot-deur diensten</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>OV-fiets voor zakelijk gebruik</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Zakelijk reizen met bus, tram en metro</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Zakelijk reizen met een Greenwheels auto</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Parkeren met uw NS-Business Card</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Taxi voor uw zakelijke reis</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>
							<ul class="sub_menu-list">
								<li class="sub_menu-item"><a href="#"><i class="la la-angle-right"></i>NS-app</a></li>
							</ul>
						</nav>
						<nav id="sub_menu-nsinternational" class="sub_menu">
							<div id="sub_menu-heading">
								<h4>NS Internationaal</h4><a href="#"><i class="la la-angle-right"></i>Alles over NS International</a>
							</div>
							<ul>
								<span class="sub_menu-titel"><a href="#">Internationale treintickets</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Trein naar Parijs</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Trein naar Londen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Trein naar Brussel</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Trein naar Antwerpen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Trein naar Berlijn</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Trein naar Dusseldorf</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Trein naar Keulen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Trein naar Frankfurt</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Trein naar Lille</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Overige reisbestemmingen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>
							<ul class="sub_menu-list">
								<li class="sub_menu-item"><a href="#"><i class="la la-angle-right"></i>Thalys</a></li>
							</ul>
							<ul>
								<span class="sub_menu-titel"><a href="#">Overige treinen</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>ICE International</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Intercity Berlijn</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Intercity Brussel</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Eurostar</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>TGV</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>OBB Nightjet</a></li>
							</ul>

							<ul class="sub_menu-list">
								<li class="sub_menu-item"><a href="#"><i class="la la-angle-right"></i>Internationale reisplanner</a></li>
								<li class="sub_menu-item"><a href="#"><i class="la la-angle-right"></i>Internationale treinen</a></li>
							</ul>
						</nav>
						<nav id="sub_menu-Klantenservice" class="sub_menu">
							<div id="sub_menu-heading">
								<h4>Klantenservice</h4><a href="#"><i class="la la-angle-right"></i>Alles over Klantenservice</a>
							</div>
							<ul>
								<span class="sub_menu-titel"><a href="#">NS Flex</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Bestellen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Klassewissel</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Uitleg factuur</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Betalen</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>ITarieven 2019</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Betalen zonder internetbankieren</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Uitstel van betalen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Wijzigen</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Uw abonnement wijzigen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Overstappen naar ander abonnement</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Abonnement verlengen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Opzeggen of annuleren</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Abonnement opzeggen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Keuzedagen opzeggen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Toeslag annuleren</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>
						</nav>
						<nav id="sub_menu-MeerNS" class="sub_menu">
							<div id="sub_menu-heading">
								<h4>Meer NS</h4>
							</div>
							<ul>
								<span class="sub_menu-titel"><a href="#">Over NS</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Dialoog & privacy</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Fraude</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Veiligheid</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Zorg voor erfgoed</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Sponsoring</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>NS Innovatiefonds</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Bewegen doe je met de trein</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Tijd voor Lezen</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>NS en Tijd voor Lezen</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>NS Publieksprijs</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Kinderboekenweek</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Boekenweek</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Nieuws</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Nieuwsarchief</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Over NS persvoorlichting</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>

							<ul>
								<span class="sub_menu-titel"><a href="#">Werken bij NS</a></span>
								<li><a href="#"><i class="la la-angle-right"></i>Actuele vacatures</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>NS als organisatie</a></li>
								<li><a href="#"><i class="la la-angle-right"></i>Alles...</a></li>
							</ul>
						</nav>
					</div>
				</section>
			</ul>
		</div>

		<ul class="header_content-right">
			<li><a href="#"><i class="la la-search"></i>Zoeken</a></li>
			<li><a href="#"><i class="la la-user"></i>Mijn NS</a></li>
			<li><a href="#"><i class="la la-flag-usa"></i>English</a></li>
		</ul>


    </div>
</header>