




<section class="reisplanner fullwidth">
    <div class="container planner">
        <form action="">
            <h1>Plan je reis</h1>

            <div id="locatie_input">
                <input type="text" name="van" id="van">
                <button><i class="la la-exchange-alt"></i></button>
                <input type="text" name="naar" id="naar">
            </div>

            <fieldset>
                <legend>Selecteer vertrek of aankomst</legend>
                <label for="vertrek">Vertrek</label>
                <input type="radio" name="vertrek" id="vertrek">
                <label for="vertrek">Aankomst</label>
                <input type="radio" name="aankomst" id="aankomst">
            </fieldset>

            <input type="date" name="datum" id="datum">
            <input type="time" name="time" id="time">

            <button>Nu</button>
            <button>Opties</button>


        </form>

    </div>
</section>